*{
	text-align: center;
}

.icono{
	background: #ffffff;
}

.nav__li:hover > a, footer:hover > a{
	color: lightblue;
}

.nav__li{
	display: inline-block;
}

nav{
	padding: 5px;
}

nav, footer{
	background-color: #0000ff;
}

.nav__li a{
	color: #ffffff;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;

}

footer a{
	text-decoration: none;
	color: #ffffff;
}

footer{
	padding: 0.3em 0;
	text-align: center;
	color: #ffffff;
}