.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main "
    "footer footer footer";
    grid-template-columns: minmax(min-content,16em) minmax(min-content,1fr);
    grid-template-rows: minmax(min-content,16.6vh) minmax(min-content,74.9vh) minmax(min-content,8.5vh);
    height: 100vh;
}

.grid-header{
    grid-area: header;
    text-align: center;
}

.grid-main{
    grid-area: main;
}

.grid-aside{
    grid-area: aside;
    margin: 2em;
    text-align: center;
}

.grid-footer{
    grid-area: footer;
}