.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows:  minmax(min-content,16.6vh) minmax(min-content,74.9vh) minmax(min-content,8.5vh);
    height: 100vh;
}

.grid-header{
    grid-area: header;
    text-align: center;
}

.grid-main{
    grid-area: main;
    text-align: center;
}

.grid-footer{
    grid-area: footer;
}

