body{
	background: radial-gradient(circle,#ccaaff, #7744dd 60% );
}

a{
	color: #ffffff;
}

a:hover{
	color: #cccccc;
}

.anuncios_container{
	margin-top: 5em;
	padding: 1em;
	display: inline-block;
	border: solid #000000 3px;
	border-radius: 1.3em;
}

.anuncios{
	font-size: 24px;
	margin-bottom: 0.5em;
}

.item{
	text-align: left;	
	margin-bottom: 0.5em;
}