body{
	background: radial-gradient(circle,#ff9966, #2244ff );
}

.container{
	padding: 1em 0;
	margin-top: 1em;
	background: #333333;
	display: inline-block;
}

h1{
	padding: 10px;
}

h2{
	color: #ffffff;
	margin-bottom: 1em;
}

.email, .password{
	text-align: center;
	margin: 0px 0px 5px 0px;
}

.h{
	text-align: center;
}

form{
	margin: 10px;
	text-align: center;
}	