body{
    background: radial-gradient(circle,#fc9, #f96 );
}

.grid-tabla{
    margin: 1em 2em;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: repeat(3, 400fr);
    border: 1px solid #000000;
    background: #ffffff;
}

.grid--item{
    border: 1px solid #000000;
}

.botones{
    text-align: right;
    margin-right: 5em;
    margin-bottom: 20px;
}