body{
	display: grid;
	background: radial-gradient(circle,#5588ff, #1144cc 60%);
	height: 100vh;
	/*background-color: #05a ;*/
}

.comentario{
	height: 200px;
	width: 90%;
	text-align: left;
	resize: none;
	padding: 15px;
}

h2, h3, aside{
	padding-bottom: 10px;
}

h1, h2, h3, aside{
	color: #ff9900;
}

.boton{
	margin: 5px 0;
	border: none;
	background-color: #ddd;
}

.boton:hover{
	background-color: #aaa;
}