body{
	background: radial-gradient(circle,#5588ff, #1144cc 60%);
	/*background-color: #05a ;*/
}

.comentarios{
	margin-top: 5em;
	margin-bottom: 1em;
}

.comentario{
	margin: 1em 0;
	height: 15em;
	width: 90%;
	text-align: left;
	resize: none;
	padding: 1em;
}
h3,{
	padding-bottom: 3em;
}

.texto h2{
	margin-top: 2em;

}

h1, h2, h3, aside{
	color: #ff9900;
}

.boton{
	width: 4em;
	/*border: none;*/
	background-color: #ddd;
}

.boton:hover{
	background-color: #aaa;
}